<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"><!-- установить кодировку символов для документа -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AirTable demo test</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="handheldFriendly" content="true">

  <meta name="application-name" content="Application Name"><!-- Название веб-приложения (следует использовать, только если веб-сайт используется в качестве приложения)-->
  <meta name="description" content=""><!-- Краткое описание страницы (не более 150 символов)-->
  <meta name="subject" content=""><!-- Краткое описание темы  сайта -->
  <meta name="language" content="English"><!-- Язык  приложения-->
  <meta name="robots" content="index,follow"><!-- Контролировать поведение сканирования и индексации поисковыми системами -->
  <meta name="googlebot" content="index,follow"><!-- Контролировать поведение сканирования и индексации поисковыми системами-->
  <meta name="classification" content="business">
  <meta name="url" content=""><!--URL приложения -->
  <meta name="rating" content="General"><!-- Общий возрастной рейтинг на основе содержания сайта -->
  <link rel="author" href=""><!-- Ссылки на автора документа (обычно humans.txt) -->

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
  <link rel="manifest" href="./images/favicon/manifest.json">
  <link rel="shortcut icon" href="./images/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="./images/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="./images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Facebook теги OpenGraph | информация: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta property="og:title" content=""><!-- Название приложения -->
  <meta property="og:type" content="website"><!-- Тип медиа контента: https://developers.facebook.com/docs/reference/opengraph#object-type -->
  <meta property="og:description" content=""><!-- Описание приложения -->
  <meta property="og:image" content=""><!-- Изображение приложения для обмена на Facebook -->
  <meta property="og:url" content=""><!-- URL приложения -->
  <meta property="og:locale" content="en_US"><!-- Language of your app ('en_US' is default) -->
  <meta property="og:site_name" content=""><!-- Title of your app -->
  <meta property="article:author" content=""><!-- Your name as the author -->

  <!-- Twitter cards tags | info: https://dev.twitter.com/cards/overview  -->
  <meta name="twitter:card" content="summary"><!-- Type of Twitter card -->
  <meta name="twitter:site" content="@"><!-- Twitter username -->
  <meta name="twitter:creator" content="@"><!-- Twitter username -->
  <meta name="twitter:url" content=""><!-- URL приложения -->
  <meta name="twitter:title" content=""><!-- Title of your app -->
  <meta name="twitter:description" content=""><!-- Description of your app -->
  <meta name="twitter:image" content="" ><!-- Image of your app for sharing on Twitter -->

  <!--  Google+ / Schema.org | info: https://developers.google.com/+/web/snippet/#documentation -->
  <meta itemprop="name" content=""><!-- Title of your app -->
  <meta itemprop="description" content=""><!-- Description of your app -->
  <meta itemprop="image" content=""><!-- Image of your app for sharing on Google+ -->
</head>

<body>
  <div id="root"></div>
</body>
</html>
